:root[data-theme="infowebeti"] {
    color-scheme: "dark";
    --color-base-100: #24282A;
    --color-base-200: #131C21;
    --color-base-300: #1E272D;
    --color-base-content: #E9EFEF;
    --color-primary: #0A97CD;
    --color-primary-content: #131C21;
    --color-secondary: #EBF1F1;
    --color-secondary-content: #E9EFEF;
    --color-accent: #0A97CD;
    --color-accent-content: oklch(38% 0.063 188.416);
    --color-neutral: #0A97CD;
    --color-neutral-content: #e4e4e7;
    --color-info: #0A97CD;
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: #00d390;
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: #ffbe00;
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: #ff5861;
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
  }
  