$font-titulo : "Raleway", sans-serif;
$font-texto : "IBM Plex Mono", monospace;

$cor-bg-body: #1B1B1B;
$cor-bg-button: #3F8E00;
$cor-text-title: #FFFFFF;
$cor-text-body: #9C9C9C;

body{
    font: $font-texto;
}