$break-desktop: 1200px;
$break-tablet: 900px;
$break-mobile: 768px;
$break-watch: 400px;

.container{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    @extend .display-flex;
}

.ajustar-tamanho-nav{
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

.display-flex{
    display: flex;
}

.alinhar-h-esquerda{
    align-items: flex-start;
}

.alinhar-v-direita{
    align-items: flex-end;
}

.alinhar-h-direita{
    justify-content: flex-end;
}

.alinhar-v-direita{
    justify-content: flex-start;
}

.alinhar-coluna{
    flex-direction: column;
}

.alinhar-linha{
    flex-direction: row;
}

.espacamento-itens-lista{
    gap: 30px;
}

.dividir-extremidades{
    justify-content: space-between;
}

.trabalhos{
    flex-wrap: wrap;
}

.trabalhos li img{
    width: 60px
}

main{
    margin-top: 80px;
}

.lista2-responsividade{
    display: none;
}

.ocultar-checkbox{
    display: none;
}

.botao-alterar{
    display: none;
}