@media(max-width: 667.98px){
    .principal{
        flex-direction: column-reverse;
    }
    button{
        width: 100%;
    }
    figure{
        margin: 0;
    }
    figure img{
        width: 100%;
    }
}
