.container {
  max-width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.ajustar-tamanho-nav {
  padding: 10px;
  padding-left: 150px;
  padding-right: 150px;
}

.display-flex, .container {
  display: flex;
}

.alinhar-h-esquerda {
  align-items: flex-start;
}

.alinhar-v-direita {
  align-items: flex-end;
}

.alinhar-h-direita {
  justify-content: flex-end;
}

.alinhar-v-direita {
  justify-content: flex-start;
}

.alinhar-coluna {
  flex-direction: column;
}

.alinhar-linha {
  flex-direction: row;
}

.espacamento-itens-lista {
  gap: 30px;
}

.dividir-extremidades {
  justify-content: space-between;
}

.trabalhos {
  flex-wrap: wrap;
}

.trabalhos li img {
  width: 60px;
}

main {
  margin-top: 80px;
}

.lista2-responsividade {
  display: none;
}

.ocultar-checkbox {
  display: none;
}

.botao-alterar {
  display: none;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #080808;
  color: #9C9C9C;
  font-family: 18px;
  line-height: 160%;
}

nav {
  background-color: #1B1B1B;
  border-radius: 0 0 6px 6px;
}
nav a {
  color: #9C9C9C;
}

main .perfil h1 {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 44px;
}
main .perfil h3 {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 200;
}
main .perfil button {
  padding: 1em 3em;
  border-radius: 4px;
  border: 1px solid #62BA1B;
  background: #3F8E00;
  box-shadow: 0 8px 30px 0 #62BA1B;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}

.lista-sem-estilo {
  padding: 0;
  list-style: none;
}

.link-sem-decoracao {
  text-decoration: none;
}

.borda-itens-lista {
  border: solid 1px #1B1B1B;
  display: flex;
  justify-content: center;
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: justify;
}

li img {
  width: 100%;
}

h5 {
  font-size: 14px;
}

input:focus-visible {
  background-color: #555555;
}

a:focus-visible {
  background-color: #555555;
}

.perfil button:focus-visible {
  background-color: #62BA1B;
}

@media (max-width: 667.98px) {
  .principal {
    flex-direction: column-reverse;
  }
  button {
    width: 100%;
    margin-bottom: 100px;
  }
  figure {
    margin: 0;
  }
  figure img {
    width: 100%;
  }
  .trabalhos {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
    scrollbar-width: none;
    flex-wrap: nowrap;
  }
  .lista1-responsividade {
    display: none;
  }
  .lista2-responsividade {
    display: flex;
  }
  .ocultar-checkbox {
    display: none;
  }
  .botao-alterar {
    display: flex;
    cursor: pointer;
  }
  .ocultar-checkbox:checked ~ .lista1-responsividade {
    margin-top: 100px;
    background-color: #1B1B1B;
    position: absolute;
    display: block;
    padding: 20px;
    border-radius: 20px;
  }
  header nav {
    flex-direction: row-reverse;
  }
  nav ul li img {
    margin-right: 3px;
    margin-left: 20px;
  }
  .ajustar-tamanho-nav {
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
